<header>
  <!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a routerLink='/home' class="navbar-brand">
          Toppers Tips
        </a>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a routerLink = '/home' class="btn">
            Home
          </a>
        </li>
        <li class="dropdown">
          <a class="btn dropdown-toggle" data-toggle="dropdown">
            List of Courses<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a routerLink = '/courses/grps' class="btn">
                  Group I, Group II etc..
              </a>
            </li>
            <li>
              <a routerLink = '/courses/banking' class="btn">
                  IBPS PO, Clerical, RRB etc..
              </a>
            </li>
            <li>
              <a routerLink = '/courses/dsc' class="btn">
                  DSC
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a routerLink = '/about' class="btn">
            About
          </a>
        </li>
        <li>
          <a routerLink = '/contactus' class="btn">
            Contact Us
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="btn" (click)="auth.login()" *ngIf="!auth.authenticated()">
            <span class="glyphicon glyphicon-user"></span> Sign In
          </a>
        </li>
        <li>
          <a class="btn" (click)="auth.logout()" *ngIf="auth.authenticated()">
            <span class="glyphicon glyphicon-log-in"></span> Sign Out
          </a>
        </li>
      </ul>
    </div>

  </nav> -->

  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#myPage">Toppers Tips</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#courses">COURSES</a></li>
        <li><a href="#portfolio">PORTFOLIO</a></li>
        <!-- <li><a href="#pricing">PRICING</a></li> -->
        <li><a href="#contact">CONTACT</a></li>
        <li>
          <a class="btn" (click)="auth.login()" *ngIf="!auth.authenticated()">
            <span class="glyphicon glyphicon-user"></span> Sign In
          </a>
        </li>
        <li>
          <a class="btn" (click)="auth.logout()" *ngIf="auth.authenticated()">
            <span class="glyphicon glyphicon-log-in"></span> Sign Out
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</header>

<main>
  <!-- Images (and assets) are parsed and loaded from within the public directory -->
  <router-outlet></router-outlet>
</main>
<footer>
  <div class="container">
    <div class="row">
        <div class="col-xs-2"><h4>Company</h4></div>
        <div class="col-md-2"><a routerLink='/aboutus'>About Us </a></div>
        <div class="col-md-2"><a routerLink='/aboutus'>Blog</a></div>
        <div class="col-md-2"><a routerLink='/aboutus'>News </a></div>
        <div class="col-md-2"><a routerLink='/aboutus'>Press Releases </a></div>
        <div class="col-md-2"><a routerLink='/aboutus'>Jobs</a></div>
      </div>
      <div class="row">

        <div class="col-md-2"><h4>Connect With Us</h4></div>
        <div class="col-md-2"><img src="/img/facebook.png" alt="Facebook"></div>
        <div class="col-md-2"><img src="/img/google_plus.png" alt="Google"></div>
        <div class="col-md-2"><img src="/img/facebook.png" alt="Linked In"></div>
        <div class="col-md-2"><img src="/img/twitter.png" alt="Twitter"></div>
        <div class="col-md-2"><img src="/img/youtube.png" alt="Youtube"></div>

    </div>
    <div class="row">
      <span>
        All rights reserved. ToppersTips.<span class="glyphicon glyphicon-copyright-mark"></span>2016.
      </span>
    </div>
  </div>
</footer>
