<footer>
  <div class="container">
    <div class="row">
        <div class="col-xs-2"><h4>Company</h4></div>
        <div class="col-md-2"><a routerLink='/aboutus'>About Us </a></div>
        <div class="col-md-2"><a routerLink='/aboutus'>Blog</a></div>
        <div class="col-md-2"><a routerLink='/aboutus'>News </a></div>
        <div class="col-md-2"><a routerLink='/aboutus'>Press Releases </a></div>
        <div class="col-md-2"><a routerLink='/aboutus'>Jobs</a></div>
      </div>
      <div class="row">

        <div class="col-md-2"><h4>Connect With Us</h4></div>
        <div class="col-md-2"><img src="/img/facebook.png" alt="Facebook"></div>
        <div class="col-md-2"><img src="/img/google_plus.png" alt="Google"></div>
        <div class="col-md-2"><img src="/img/facebook.png" alt="Linked In"></div>
        <div class="col-md-2"><img src="/img/twitter.png" alt="Twitter"></div>
        <div class="col-md-2"><img src="/img/youtube.png" alt="Youtube"></div>

    </div>
    <div class="row">
      <span>
        All rights reserved. ToppersTips.<span class="glyphicon glyphicon-copyright-mark"></span>2016.
      </span>
    </div>
  </div>
</footer>
