<div class="jumbotron text-center">
  <h2> Welcome to Toppers Tips! your one stop shop for all job related material.</h2>
  <p>We specialize in Public service commission, Civils coaching!</p>
  <form class="form-inline">
    <input type="email" name="subscriberEmail" class="form-control" size="50"
    [(ngModel)]="subscriberEmail" required
    placeholder="Enter Email Address to subscribe to our newsletter">
    <button type="button" class="btn btn-danger" (click)="addSubscriber()">Subscribe</button>
    <!-- <label name="successMessage" *ngIf="successMessageLength" text="subscriber added succesfully!"> -->
  </form>
</div>
